.menu {
    background-color: #000;
    color: #fff;
    padding: 40px 0 0 40px;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu li {
    list-style-type: none;
    margin-bottom: 30px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}
